*{
    margin: 0px;
    font-family: sans-serif;
    
}
body{
    background-color:#ebeff5;
}

#logo{
    display: block;
    width: 240px;
    height: 79.27px;
    line-height: 1.34;
    margin: auto;
}

.cls1{
    margin: 0 0 5px 0;
    padding-top: 80px;
}

.cls2{
    width: 396px;
    height: 314.75px;
    margin: auto;
    padding: 0px 0px 14px 0px;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

#p1{
    
    padding: 24px 0px 16px;
    color: #1c1e21;
    width: 396px;
    height: 22px;
    font-size: 18px;
    
}

.c1, #p1 , .acc{
    text-align: center;
}

.input {
    padding: 14px 16px;
    width: 330px;
    font-size: 17px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
}


  .mar , #btn {
    margin: 0px 15px 16px;
}

#btn{
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    padding: 0px 16px;
    width: 365px;
    border-radius: 6px;
    line-height: 48px;
    border: none;
}

.acc{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 0 18px;
    
}